@import "./core-styles/core-styles";

.prolog-about {
  margin-bottom: 128px;
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    flex: 0.6;
    height: 150px;
    background-color: $clr-delta;

    a {
      display: inline-block;
      max-width: 100px;
    }
  }

  &__information {
    padding-right: 11.25vw;
    flex: 0.25;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.75;
    color: $clr-beta;
    p {
      margin: 0;
    }
    a {
      color: $clr-alpha;
      font-size: 11px;
    }
  }
}

.first-section-about {
  margin-bottom: 125px;
  &__title-container {
    margin-bottom: 80px;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.25;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex: 0.28;
    &__title {
      margin-bottom: 30px;
      a {
        font-size: 30px;
        line-height: 1.25;
        cursor: default;
      }
    }

    &__text {
      p {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.75;
      }
    }
  }
}

.second-section-about {
  height: 500px;
  margin-bottom: 125px;
}

.third-section-about {
  .services-block {
    height: 401px;
  }
  .blocks-container {
    &__left {
      width: 100%;
      max-width: 470px;
    }

    &__right {

    }

    .block {
      &__text-container {
        flex: 1;
      }

      &__title-container {
        margin-bottom: 80px;
      }

      &__image-container {
        display: none;
      }

      &__links {
        height: auto;
        display: grid;
        padding-left: 6.3vw;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 90px;
      }

      &__link {
        a {
          letter-spacing: -0.015em;
          font-size: 30px;
          &:after {
            left: 0;
          }
        }
      }
    }
  }
}

.fourth-section-about {
  width: 100%;
  display: flex;
  height: 492px;
  justify-content: space-between;
  margin-bottom: 125px;


  &__left {
    flex: 0.5;
    max-width: 440px;
  }

  &__right {
    flex: 0.7;
    width: 100%;
    position: relative;
  }

  &__image-container {
    position: absolute;
    top:0;
    right: 0;
    max-width: 703px;
    border-radius: 15.375vw;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 7.3125vw;
  }

  &__image {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: none;
  }

  &__title-container {
    margin-bottom: 80px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 11px;
    color: $clr-alpha;
  }

  &__text {
    font-size: 24px;
  }
}


.fifth-section-about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;

  &__map-container {
    max-width: 703px;
    flex: 0.5;
  }

  &__map {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__items-container {
    max-width: 587px;
    flex: 0.5;
    display: grid;
    grid-template-columns: 234px 234px;
    column-gap: 7.375vw;
    row-gap: 45px;
    justify-content: start;
  }

  &__item {
    &__icon-container {
      margin-bottom: 15px;
    }

    &__text {
      margin: 0;
    }
  }
}

.seventh-section-about {
  margin-bottom: 183px;

  &__title-container {
    margin-bottom: 80px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 11px;
    line-height: 1.25;
    color: $clr-alpha;
  }
}