@import "core-styles/core-styles";

.partners-section-activities {
  width: 100%;
  margin-bottom: 125px;

  &__content-contaier {
    width: 100%;
  }

  &__content {
    width: 100%;
  }

  &__title-container {
    margin-bottom: 80px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.25;
  }

  &__slider-container {
    height: 90px;
  }

  &__slider {
    height: 100%;

    .slider__items {

    }

    .slider__item {
      max-width: 186px;
      min-width: 11.625vw;
      margin-right: 86px;
      height: auto;

      &__title {
        display: none;
      }
    }

    .slider__btns-container {
      top:0;
    }
  }
}

.articles-section-activities {
  width: 100%;
  margin-bottom: 125px;

  &__content-contaier {
    width: 100%;
  }

  &__content {
    width: 100%;
  }

  &__title-container {
    margin-bottom: 50px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 11px;
    line-height: 1.25;
    color: $clr-alpha;
  }

  &__items-contaier {
    width: 100%;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6.625vw;
    row-gap: 50px;
  }

  &__item {
    &__text {
      margin-top: 30px;
      font-size: 14px;
      line-height: 1.85;
    }

    &__btn-container {
      display: inline-block;
      width: 40px;
      height: 40px;

      .scroll-down-btn {
        padding: 0 11px;
        transform: rotate(-90deg);
      }
    }
  }
}

.achievements-section-activities {
  width: 100%;
  margin-bottom: 125px;
}