@import './core-styles/core-styles';

.catalog {
  &__title-container {

  }

  &__content-container {
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 1397px;
    flex-wrap: wrap;

    &__alfa-item {
      margin-bottom: 80px;
      &__title {
        margin-bottom: 65px;
      }

      &__link-container {
        display: flex;
      }

      &__link {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $clr-alpha;
        margin-right: 2px;
      }

      &__btn-container {
         width: 16px;
         height: 16px;
        border-radius: 50%;
        border: 1px solid $clr-alpha;
      }
    }

    &__beta-item {
      &__link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
      }
    }

    &__delta-item {
      &__link {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }


  }
}