@import "core-styles/core-styles";

// ***** AlphaButton ***** //
.alpha-btn {
  width: 100%;
  padding: 13px 16px;
  background-color: $clr-alpha;
  &__text {
    font-size: 12px;
    line-height: 2;
    color: $clr-delta;
  }
}
// ***** AlphaButton End ***** //

// ***** AlphaInput ***** //
.alpha-input {
  width: 100%;
  height: 100%;
  display: flex;

  &__input {
    flex: 1;
    border: none;
    outline: none;
    padding: 13px;

    &::placeholder {
      font-size: 12px;
      color: $clr-epsilon;
    }
  }
}
// ***** AlphaInput End ***** //

// ***** Title With Line ***** //
  .title-with-line {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 125px;

    &__left {
      font-size: 1.875vw;
      line-height: 1.13;
      text-transform: uppercase;
      flex: 0.4;
    }

    &__line {
      position: relative;
      width: 23.125vw;
      margin: 0 4.185vw;
      flex: 0.3;
      div {
        position: absolute;
        top: 13%;
        width: 100%;
        height: 0;
        border-top: 1px solid black;
        opacity: 0.4;
      }
    }

    &__right {
      font-size: 1vw;
      font-weight: 500;
      flex: 0.3;
    }
  }
// ***** Title With Line End ***** //


// ***** Header ***** //
.header {
  padding-top: 45px;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__links {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 41px;
  }

  &__link {
    color: #ca3132;
    text-transform: uppercase;

    span {
      color: $clr-alpha;
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 6vw;
  }
}

.left-link {
  margin-right: 85px;

  span {
    margin-left: 9px;
  }
}

.right-link {
  display: flex;
  align-items: center;

  span {
    margin-left: 4px;
  }
}
// **** Header End **** //

// **** Sidebar **** //
.sidebar {
  position: absolute;
  right: 3.6vw;
  top: 51px;
  z-index: 1;
  height: 49.95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// **** Sidebar End **** //

// **** GlobalLink **** //
.underline-link {
  position: relative;
  &:after {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    content: "";
    background-color: $clr-alpha;
  }
}
.underline-link.right {
  &:after {
    right: 0;
  }
}
.underline-link.left {
  &:after {
    left: 0;
  }
}

.underline-link--small {
  font-size: 13px;
  &:after {
    bottom: -5px;
    height: 1px;
    width: 12px;
  }
}

.underline-link--large {
  font-size: 2.5vw;
  &:after {
    bottom: -15px;
    height: 4px;
    width: 50px;
  }
}
// **** GlobalLink  End **** //

// **** Scroll-down-btn **** //
.scroll-down-btn, .scroll-up-btn, .plus-btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid $clr-alpha;
  padding: 0 23px;
  cursor: pointer;
}

.scroll-up-btn {
  background-color: $clr-alpha;
  padding: 0 18px;
}

.plus-btn {
  padding: 0 13px;

  svg {
    padding-top: 3px;
  }
}

// **** Scroll-down-btn End **** //

// **** Navigation **** //
.navigation {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  &__links {
    display: flex;
    justify-content: space-between;
    background-color: $clr-delta;
    align-items: center;
    font-size: 0.8125vw;
    width: 100%;
    padding: 9.7% 7.61%;
  }

  &__link {
  }

  &__video-container {
    min-width: 31.4%;
    height: 100%;
  }

  &__video {
    width: 100%;
    height: 100%;
  }
}
// **** Navigation End **** //

// **** SubNavigation **** //
.sub-navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
// **** SubNavigation End **** //

// **** Blocks **** //
.services-block, .news-block {
  margin-bottom: 125px;
  width: 100%;
  height: 625px;
  display: flex;

  .blocks-container {
    &__left {
      display: flex;
      flex: 0.7;
    }

    &__right {
      flex: 0.4;
    }

    .block {
      &__text-container {
        flex: 0.5;
      }

      &__title-container {
        margin-bottom: 303px;
      }

      &__text {
        max-width: 230px;
        font-size: 14px;
      }

      &__image-container {
        flex: 0.7;
      }
    }
  }
}

.news-block {
  height: 500px;

  .blocks-container {
    .block {
      &__title-container {
        margin-bottom: 118px;
      }

      &__current-link {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.67;
        a {
          display: inline-block;
          margin-bottom: 28px;
        }
      }

      .date {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
      }

      &__links {
        padding: 50px 78px;
        align-items: center;
      }

      &__link {
        a {
          display: inline-block;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 10px;
        }
      }
    }
  }


}
// **** Blocks End **** //

// **** Footer **** //
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &__left {
    display: flex;
    flex: 0.5;
  }

  &__form {
    flex: 1;

    &__input-container {
      width: 100%;
    }

    & > span {
      display: inline-block;
      padding-left: 13px;;
      font-size: 11px;
      line-height: 14px;
      margin-top: 10px;
      color: $clr-zeta;
    }
  }

  &__right {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    line-height: 2;
  }

  &__title {
    max-width: 260px;
    font-size: 1.875vw;
    line-height: 34px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-right: 5.3125vw;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
  }

  &__btn-container {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: translateY(-100%);
    top: -41px;
    right: 47px;
    cursor: pointer;
  }
}
// **** Footer End **** //

// **** Modal Window **** //
.modal-window {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255, 0.9);
  padding: 30px 60px;

  &__wrapper {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title-container {
    margin-bottom: 52px;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__subtitle {
    line-height: 1.45;
  }

  &__link {
    color: $clr-alpha;
  }

  &__content-container {
    width: 30.375vw;
    max-width: 486px;
    padding: 30px 60px;
    background-color: $clr-eta;
    box-shadow: 0 25px 100px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .alpha-btn__text {
      font-size: 16px;
    }
  }

  &__title-container {

  }

  &__close-btn-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 12.06%;
    right: 6.06%;
  }
}
// **** Modal Window End **** //

// **** Slider **** //
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__wrapper {
    height: 100%;
    max-width: 95%;
    overflow: hidden;
  }

  &__items {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  &__item {
    height: 100%;
    flex-shrink: 1;
    min-width: 21.875vw;
    max-width: 350px;
    margin-right: 120px;

    &__date {
      display: inline-block;
      margin-bottom: 30px;
      font-size: 12px;
      line-height: 1.65;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 24px;
      line-height: 1.25;
    }

  }

  &__btns-container {
    position: absolute;
    top: 37.1%;
    right: 0;
  }

  &__btn-wrapper {
    width: 40px;
    height: 40px;

    button {
      padding: 0 12px;
      border: 1px solid $clr-theta;
    }
  }

  &__btn-wrapper.next {
    transform: rotate(-90deg);
    margin-bottom: 10px;
  }

  &__btn-wrapper.prev {
    transform: rotate(90deg);
  }
}

// **** Slider End **** //

// **** Awards **** //

.awards {
  &__content-contaier {
    width: 100%;
  }

  &__content {
    width: 100%;
  }

  &__title-container {
    margin-bottom: 50px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 11px;
    line-height: 1.25;
    color: $clr-alpha;
  }

  &__items-container {
    width: 100%;
    position: relative;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    column-gap: 13.25vw;
    row-gap: 50px;
  }

  &__item {
    display: flex;

    &__year-container {
      display: flex;
    }

    &__list-container {

    }

    &__year {
      text-align: center;
      display: inline-block;
      writing-mode: tb;
      transform: rotate(-180deg);
      font-size: 40px;
      line-height: 1.1;
      letter-spacing: -0.015em;
      text-transform: uppercase;
      margin-right: 50px;
      color: $clr-theta
    }

    &__list-item {
      font-size: 16px;
      line-height: 1.45;
    }

  }

  &__item:last-child {
    grid-row: 1/3;
    align-items: center;
  }

  &__link-container {
    position: absolute;
    right:35.82%;
    transform: translateX(100%);
    bottom: 50px;
  }

  &__btn-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

}

// **** Awards End **** //