@import "./core-styles/core-styles";

.first-section-cytilogy {
  margin-bottom: 150px;

  &__title-container {
    height: 100%;

    .title-with-line__left {
      flex: 0.2;
    }

    .title-with-line__line {
      flex: 0.42;
    }
  }



  &__content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__sub-navigation-container {
    flex: 0.5;
    max-width: 639px;
    width: 39.9375vw;
    height: 150px;
    background-color: $clr-delta;
  }

  &__text-container {
    flex: 0.3;
  }

  &__text {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.85;
  }

  &__link {
    font-size: 11px;
    line-height: 1.25;
    color: $clr-alpha;
  }
}

.second-section-cytilogy {
  margin-bottom: 125px;
  width: 100%;
  background-color: $clr-delta;
  display: flex;
  flex-direction: column;
  padding: 50px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  &__title-container {

  }

  &__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 12px;
    line-height: 1.25;
    color: $clr-alpha;
  }

  &__documents-container {

    &__link {
      margin-left: 50px;
      font-size: 12px;
      line-height: 2;
    }
  }

  &__documents {
    display: flex;
  }

  &__document {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 15px;

    &__title {
      font-size: 13px;
      line-height: 1.25;
      text-transform: uppercase;
      margin-left: 10px;
      color: $clr-alpha;
    }
  }

  &__content-container {

  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__item {
      flex: 0.25;

      &__image-container {
        width: 100%;
        background-color: $clr-eta;
        text-align: center;
        padding: 26px 39px;
        margin-bottom: 40px;
      }

      &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &__title {
        font-size: 16px;
        line-height: 1.45;
      }
    }
  }
}

.third-section-cytilogy {
  margin-bottom: 125px;
  &__content-container {

  }

  &__content {
    display: grid;
    height: 713px;
    grid-template-columns: 0.8fr 1fr 0.6fr;
    grid-template-rows: 0.7fr 0.3fr;
    align-content: space-between;
  }

  &__image-container {
    max-width: 469px;
  }

  &__current-news {
    padding: 50px 6.9375vw;
    &__title-container {
      margin-bottom: 118px;
    }

    &__title {
      font-size: 24px;
      line-height: 1.25;
    }

    &__link {
      font-size: 11px;
      line-height: 1.25;
      color: $clr-alpha;
    }

    &__text {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 24px;
    }

    &__date {
      font-size: 12px;
      line-height: 2;
    }
  }

  &__news-container {
    grid-column: 3;
    grid-row: 1 / 3;
    padding: 50px;
    background-color: $clr-delta;
    display: flex;
    flex-direction: column;

    &__title-container {
      margin-bottom: 50px;
    }

    &__title {
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 10px;
    }

    &__link {
      font-size: 11px;
      line-height: 1.25;
      color: $clr-alpha;
    }

    .news-block {
      height: 100%;
      margin-bottom: 0;
    }

    .blocks-container__left {
      display: none;
    }

    .blocks-container__right {
      width: 100%;
      flex: 1;

      .block__links {
        padding: 0;
      }
    }
  }

  &__links-container {
    grid-column: 1/3;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875vw;

    &__link-container {
      display: grid;
      grid-template-columns: 0.2fr 0.8fr;
    }

    &__date {
      grid-column: 2;
      font-size: 12px;
      line-height: 2;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.65;
    margin-bottom: 10px;
  }

}