@import "components";
@import "normalize.css";
@import "core-styles/core-styles";
@import "index";
@import "about";
@import "cytilogi";
@import "activities";
@import "catalog";

html,
body {
  margin: 0;
  //min-height: 100%;
  //min-width: 100%;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  color: $clr-beta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  position: relative;
 padding: 0 7.25vw 0 4.8vw;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 196px;
}

.blocks-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  &__left, &__right {
    flex: 0.5;
  }

  &__left {
    height: 100%;
    background-color: $clr-delta;

  }

  .block {
    width: 100%;
    height: 100%;

    &__title-container {
      margin-bottom: 80px;
    }

    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.25;
    }

    &__text-container {
      height: 100%;
      padding: 50px;
    }

    &__text {
      max-width: 65%;
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
      }
    }

    &__link {
      font-weight: normal;
      font-size: 12px;
      line-height: 2;
    }

    &__image-container {
      height: 100%;
      width: 100%;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__links {
      padding: 50px 0;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}

.sixth-section-about {
  margin-bottom: 125px;
}



