
extends ../layouts/base

block content
    -var about = data.about
    main.main
        section.prolog-about
            +TitleWithLine(about.title, "Наша миссия - диагностика <br/> спасающая жизнь!")
            .prolog-about__content
                .prolog-about__navigation
                    +SubNavigation(data.subNavigation.links)
                .prolog-about__information
                    p=about.info.text
                    a(href=about.info.link) Подробнее
        section.first-section-about
            .first-section-about__title-container
                h2=about.firstSection.title
            .first-section-about__items
                each item in about.firstSection.items
                    .first-section-about__item
                        .first-section-about__item__title
                            +UnderlineLink(item.title, "", "large", "left")
                        .first-section-about__item__text
                            p=item.text
        section.second-section-about
            .blocks-container
                .blocks-container__left.block
                    .block__text-container
                        .block__title-container
                            span.blocks-container__title=about.secondSection.block.title
                        .block__text!=about.secondSection.block.text
                        .block__link-container
                            each val, key in about.secondSection.block.link
                                a.block__link(href=key)=val
                .blocks-container__right.block
                    .block__image-container
                        img.block__image(src=about.secondSection.block.img)
        secion.third-section-about
            +ServicesBlock
                .block__link
                    +UnderlineLink("Макетинг", "marketing", "large", "right")
                .block__link
                    +UnderlineLink("Логистика", "logistic", "large", "right")
        section.fourth-section-about
            .fourth-section-about__left
                .fourth-section-about__title-container
                    .fourth-section-about__title=about.fourthSection.title
                    a.fourth-section-about__link(href=about.fourthSection.link.ref)=about.fourthSection.link.title
                .fourth-section-about__text-container
                    .fourth-section-about__text=about.fourthSection.text
            .fourth-section-about__right
                .fourth-section-about__image-container
                    img.fourth-section-about__image(src=about.fourthSection.image)
        section.fifth-section-about
            .fifth-section-about__map-container
                img.fifth-section-about__map(src="./assets/images/6.png")
            .fifth-section-about__items-container
                each item in about.fifthSection.items
                    .fifth-section-about__item
                        .fifth-section-about__item__icon-container
                            img.fifth-section-about__item__icon(src=item.icon)
                        .fifth-section-about__item__text-container
                            p.fifth-section-about__item__text=item.text
        section.sixth-section-about
            +NewsBlock
        section.seventh-section-about
            .seventh-section-about__title-container
                .seventh-section-about__title История
                a.seventh-section-about__link Подробднее
            .seventh-section-about__slider-container
                +Slider(data.history.items)