extends ../layouts/base

block content
    -var catalog = data.catalog
    -var products = data.products
    main.main
        .catalog
            .catalog__title-container
                .catalog__title
                    +TitleWithLine(catalog.title, catalog.subtitle)
            .catalog__content-container
                .catalog__content
                     each alfaItem in products.alphaItems
                         .catalog__content__alfa-item
                             .catalog__content__alfa-item__title
                                 +UnderlineLink(alfaItem.title, alfaItem.link, "large", "left")
                             each betaItem in alfaItem.betaItems
                                 a.catalog__content__beta-item__link(href=betaItem.link)=betaItem.title
                                 each deltaItem in betaItem.deltaItems
                                     a.catalog__content__delta-item__link(href=deltaItem.link)=deltaItem.title
                             .catalog__content__alfa-item__link-container
                                 a.catalog__content__alfa-item__link(href=alfaItem.link) Еще
                                 .catalog__content__alfa-item__btn-container
                                     svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M5.6001 7.20001L8.0001 9.60001L10.4001 7.20001" stroke="#303030")