extends ../layouts/activities

block first-section-activities
    -var cytilogy = data.cytilogy
    .first-section-cytilogy
        .first-section-cytilogy__title-container
            +TitleWithLine(cytilogy.title, cytilogy.subtitle)
        .first-section-cytilogy__content-container
            .first-section-cytilogy__sub-navigation-container
                +SubNavigation(cytilogy.navigation.links)
            .first-section-cytilogy__text-container
                p.first-section-cytilogy__text=cytilogy.firstSection.text
                a.first-section-cytilogy__link(href=cytilogy.firstSection.link.ref)=cytilogy.firstSection.link.text
block second-section-activities
    .second-section-cytilogy
        .second-section-cytilogy__header
            .second-section-cytilogy__title-container
                .second-section-cytilogy__title=cytilogy.secondSection.title
                a.second-section-cytilogy__link(href=cytilogy.secondSection.link.ref)=cytilogy.secondSection.link.text
            .second-section-cytilogy__documents-container
                .second-section-cytilogy__documents
                    each item in cytilogy.secondSection.documents.items
                        .second-section-cytilogy__document
                            img.second-section-cytilogy__document__icon(src="./assets/images/pdf-icon.svg")
                            span.second-section-cytilogy__document__title=item.title
                a.second-section-cytilogy__documents-container__link(href=cytilogy.secondSection.documents.link.ref)=cytilogy.secondSection.documents.link.text

        .second-section-cytilogy__content-container
            .second-section-cytilogy__content
                each item in cytilogy.secondSection.products
                    .second-section-cytilogy__content__item
                        .second-section-cytilogy__content__item__image-container
                            img.second-section-cytilogy__content__item__image(src=item.img)
                        .second-section-cytilogy__content__item__title=item.title

block third-section-activities
    .third-section-cytilogy
        .third-section-cytilogy__content-container
            .third-section-cytilogy__content
                .third-section-cytilogy__image-container
                    img.third-section-cytilogy__image(src=cytilogy.thirdSection.img)
                .third-section-cytilogy__current-news
                    .third-section-cytilogy__current-news__title-container
                        .third-section-cytilogy__current-news__title=cytilogy.thirdSection.currentNews.title
                        a.third-section-cytilogy__current-news__link(href=cytilogy.thirdSection.currentNews.link.ref)=cytilogy.thirdSection.currentNews.link.text
                    .third-section-cytilogy__current-news__text=cytilogy.thirdSection.currentNews.text
                    .third-section-cytilogy__current-news__date=cytilogy.thirdSection.currentNews.date
                .third-section-cytilogy__news-container
                    .third-section-cytilogy__news-container__title-container
                        .third-section-cytilogy__news-container__title=cytilogy.thirdSection.news.title
                        a.third-section-cytilogy__news-container__link(href=cytilogy.thirdSection.news.link.ref)=cytilogy.thirdSection.news.link.text
                    +NewsBlock
                .third-section-cytilogy__links-container
                    each item in cytilogy.thirdSection.links
                        .third-section-cytilogy__links-container__link-container
                            img.third-section-cytilogy__links-container__icon(src="./assets/images/youTube-icon.svg")
                            a.third-section-cytilogy__link(href=item.ref)=item.text
                            span.third-section-cytilogy__links-container__date=item.date

