extends ../layouts/base
block content
    -var manufacture = data.manufacture
    main.main
        section.prolog-manufacture
        section.first-section-manufacture
            .first-section-manufacture__content-container
                .first-section-manufacture__content

        section.second-section-manufacture
            .second-section-manufacture__content-container
                .second-section-manufacture__content
                    .-section-manufacture__title-container
                        .-section-manufacture__title
                        .-section-manufacture__link

        section.third-section-manufacture
            .third-section-manufacture__content-container
                .third-section-manufacture__content
                    .third-section-manufacture__title-container
                        .third-section-manufacture__title
                        .third-section-manufacture__link

        section.forth-section-manufacture
            .forth-section-manufacture__content-container
                .forth-section-manufacture__content
                    .forth-section-manufacture__title-container
                        .forth-section-manufacture__title
                        .forth-section-manufacture__link

        section.fifth-section-manufacture
            .fifth-section-manufacture__content-container
                .fifth-section-manufacture__content
                    .fifth-section-manufacture__title-container
                        .fifth-section-manufacture__title
                        .fifth-section-manufacture__link

        section.sixth-section-manufacture
            .sixth-section-manufacture__content-container
                .sixth-section-manufacture__content
                    .sixth-section-manufacture__title-container
                        .sixth-section-manufacture__title
                        .sixth-section-manufacture__link

        section.seventh-section-manufacture
            .seventh-section-manufacture__content-container
                .seventh-section-manufacture__content
                    .seventh-section-manufacture__title-container
                        .seventh-section-manufacture__title
                        .seventh-section-manufacture__link