mixin PlusButton
    button.plus-btn
        svg(preserveAspectRatio="xMidYMin meet" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M5.5 0V11M11 5.5L0 5.5" stroke="black")
