mixin ScrollDownButton(id="scrollDownBtn")
    button.scroll-down-btn(id=id)
        svg(preserveAspectRatio="xMidYMin meet" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 1L7 7L13 1" stroke="#303030")
