mixin SlideNextButton
    button.slide__btn(id="slideNextBtn")
        svg(preserveAspectRatio="xMidYMin meet" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 13L7 7.00003L0.999999 1.00006" stroke="#303030")
