@import "colors";

$clr-alpha: $persian-red;
$clr-beta: $mine-shaft;
$clr-delta: $alabaster;
$clr-epsilon: $black;
$clr-zeta: $silver-chalice;
$clr-eta: $white;
$clr-theta: $alto;
//$clr-iota: $catskillWhite;
//$clr-kappa: $whiteLilac;
//$clr-lambda: $zumthor;
//$clr-mu: $periwinkleGray;
//$clr-nu: $waikawaGray;
//$clr-xi: $eastBay;
//$clr-omicron: $fiord;
//$clr-pi: $oxfordBlue;
//$clr-rho: $mirage;
//$clr-sigma: $vulcan;
//$clr-tau: $white;
//$clr-upsilon: $mischka;
//$clr-phi: $scorpion;
//$clr-chi: $cardinal;
//$clr-psi: $cherub;
