mixin NewsBlock
    .news-block
        .blocks-container
            .blocks-container__left.block
                .block__image-container
                    img(src="./assets/images/2.png")
                .block__text-container
                    .block__title-container
                        h2=data.news.title
                    .block__current-link
                        a(href=`/news/${data.news.currentNews.id}`)=data.news.currentNews.title
                        .block__current-link.date
                            span=data.news.currentNews.date
            .blocks-container__right.block
                .block__links
                    each item in data.news.items
                        .block__link
                            a(href=`/news/${item.id}`)=item.title
                            .block__link.date
                                span=item.date