mixin ServicesBlock()
    .services-block
        .blocks-container
            .blocks-container__left.block
                .block__text-container
                    .block__title-container
                        h2=data.services.title
                    .block__text
                        p=data.services.text
                .block__image-container
                    img.block__image(src="./assets/images/1.png")
            .blocks-container__right.block
                .block__links
                    each val, key in data.services.links
                        .block__link
                            +UnderlineLink(val, key, "large", "right")
                    block