-var achievements = data.achievements
mixin Awards
    .awards__content-container
        .awards__content
            .awards__title-container
                .awards__title Достижения и награды
            .awards__items-container
                .awards__items
                    each val, key in achievements.items
                        .awards__item
                            .awards__item__year-container
                                span.awards__item__year=key
                            .awards__item__list-container
                                .awards__item__list
                                    each item in val
                                        p.awards__item__list-item=item
                a.awards__link-container(href=achievements.link.ref)
                    .awards__btn-container
                        +PlusButton
                    span.awards__link=achievements.link.text