extends ../layouts/base

block content
    -var activities = data.activities
    main.main
        section.first-section-activities
            block first-section-activities
        section.second-section-activities
            block second-section-activities
        section.third-section-activities
            block third-section-activities
        section.partners-section-activities
            .partners-section-activities__content-container
                .partners-section-activities__content
                    .partners-section-activities__title-container
                        .partners-section-activities__title=activities.partners.title
                    .partners-section-activities__slider-container
                        .partners-section-activities__slider
                           +Slider(activities.partners.items)
        section.articles-section-activities
            .articles-section-activities__content-container
                .articles-section-activities__content
                    .articles-section-activities__title-container
                        .articles-section-activities__title=activities.articles.title
                        a.articles-section-activities__link(href=activities.articles.link.ref)=activities.articles.link.text
                    .articles-section-activities__items-container
                        .articles-section-activities__items
                            each item in data.articles
                                .articles-section-activities__item
                                    .articles-section-activities__item__title
                                        +UnderlineLink(item.title, item.link.ref, "large", "left")
                                    p.articles-section-activities__item__text=item.subtitle
                                    a.articles-section-activities__item__btn-container(href=item.link.ref)
                                        +ScrollDownButton
        section.achievements-section-activities
            +Awards