-var data = require('../data/data.json')
include ../components/components

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" )
        link(rel="stylesheet", href='/assets/style/style.css')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet")
        title "Bio Vitrum"
    body
        .app-container
            +Header(false)
            block content
            +Footer
        +Sidebar
        +ModalWindow("Тест", "message", "Title", "subtitle" ,"linkText", "ref")
            h1 Модальное окно

