mixin Slider(items)
    .slider(id="slider")
        .slider__wrapper
            .slider__items(id="sliderItems")
                each item in items
                    .slider__item
                        span.slider__item__date=item.date
                        img.slider__item__image(src=item.img)
                        .slider__item__title=item.title
        .slider__btns-container
            .slider__btn-wrapper.next
                +ScrollDownButton("slideNextBtn")
            .slider__btn-wrapper.prev
                +ScrollDownButton("slidePrevBtn")
